* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    background-color: rgb(120,172,205);
    font-family: sans-serif;
    font-weight: 600;
}
.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3rem .5rem 17rem .5rem 3.5rem;
    background-color: #fff;
    align-items: center;
}

.head {
    display: grid;
    grid-template-columns: 17rem 6.4rem;
    color: rgb(132, 143, 152);
    padding:.5rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(7, 3.5rem);
    grid-template-rows: repeat(6, 2.5rem);
    text-align: center;
    position: relative;
}

.grid_title {
    color: rgb(127, 139, 150);
}

.calendar_light-days {
    color: rgb(230,230,230);
}

.calendar-days {
    background-color: #fff;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-self: center;
    padding: .2rem;
}

sup {
    position: absolute;
    color: #fff;
    border-radius: 50%;
    width: 1.2rem;
    height:1.2rem;
}

.seven {
    background-color: rgb(222,110,70);
    color: #fff;
    padding:  0 .7rem;
}

#five {
    background-color: rgb(194, 89, 137);
    bottom: 4.2rem;
    left:5.4rem;
}

#six {
    background-color: rgb(222,110,70);
    top:7rem;
    right: 4rem;
}

.nineteen {
    border: 2px solid rgb(194, 89, 137);
}

.sixteen {
    border: 2px solid rgb(222,110,70);
}

.sign {
    border: 2px solid rgb(222,110,70);
    padding: .5rem;
}

footer {
    display: grid;
    grid-template-columns: 4rem 16rem 0;
    padding: 1rem;
}

